body {
    margin: 0;
<<<<<<< HEAD
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: skyblue;
}
canvas {
    border: 2px solid black;
}
=======
    padding: 0;
    background-color: #70c5ce;
    overflow: hidden;
}
>>>>>>> 8ea4f7b (initial commit)
